{%- with messages = get_flashed_messages(with_categories=true) -%} {% if messages %} {% for category, message in messages %}
<div class="alert alert-warning alert-dismissable" style="right: 1%; top: 1%; position:absolute;">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
    ×
  </button>
    <strong>{{ message }} </strong>
</div>
{% endfor %} {% endif %} {%- endwith %}