{% include "security/_menu.html" %} {% extends 'base.html' %} {% block title %} Регистрация {% endblock %} {% block heading %} Вход / Регистрация {% endblock %} {% block content %} {% include "security/_messages.html" %}
<br>
<div class="text-white rounded mt-5">
    <div class="bg-white my-4 mt-5 col-lg-12 rounded">
        <div class="row">
            <div class="col-lg-12 py-4">
                <div class="row">
                    <div class="col-lg-6 ">
                        <h5 class="bg-dark text-white text-center py-4 rounded">
                            <strong>Вход</strong>
                        </h5>
                        {% from "security/_macros.html" import render_field_with_errors, render_field %}
                        <form class="container text-dark" action="/login" method="POST" name="login_user_form">
                            {{ login_user_form.hidden_tag() }} {{ render_field_with_errors(login_user_form.email, class="form-control", placeholder="E-mail") }} {{ render_field_with_errors(login_user_form.password, class="form-control", placeholder="Password") }}
                            <div class="py-2">
                                {{ render_field(login_user_form.next) }} {{ render_field(login_user_form.submit, class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0") }}
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-6">
                        <h5 class="bg-dark text-white text-center py-4 rounded">
                            <strong>Регистрация</strong>
                        </h5>
                        <form class="text-center text-dark" method="POST" action="/newuser">
                            <div class="form-row my-4">
                                <div class="col">
                                    <!-- First name -->
                                    <div class="md-form">
                                        <input type="text" class="form-control" placeholder="Имя" name='FirstName' required>
                                    </div>
                                </div>
                                <div class="col">
                                    <!-- Last name -->
                                    <div class="md-form">
                                        <input type="text" class="form-control" placeholder="Фамилия" name="LastName" required>
                                    </div>
                                </div>
                            </div>
                            <div class="md-form">
                                <input type="text" class="form-control" placeholder="Отчество" name="patronymic" required>
                            </div>
                            <!-- E-mail -->
                            <div class="md-form mt-0 my-4">
                                <input type="email" class="form-control" placeholder="E-mail" name="E-mail" required>
                            </div>
                            <!-- Password -->
                            <div class="md-form">
                                <input type="password" class="form-control" placeholder="Пароль" name="pass" required>
                            </div>
                            <!-- Sign up button -->
                            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit"><i
                  class="fas fa-check"></i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include "security/_menu.html" %}

    <style>
        .text-hide {
            font-size: 0px;
        }
        
        .text-show {
            font-size: 20px;
        }
    </style>

    {% endblock %}