/*Проверка инпута на кривезну*/

input:invalid:not(:placeholder-shown) {
    border-color: rgba(255, 0, 0, 0.51);
    border-width: 2px;
}

input:valid:not(:placeholder-shown) {
    border-color: rgba(0, 128, 0, 0.51);
    border-width: 2px;
}