<!doctype html>
<html lang="ru" class="full-height">

<head>

    <title>
        {% block title %} {% endblock %} | WEB-2019-2
    </title>

    {% block head %} {% endblock %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

    <!-- icon - https://fontawesome.com/icons?d=gallery -->
    <script src="https://kit.fontawesome.com/4d5409e7f6.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="border border-dark bg-dark rounded">
        <nav class="navbar navbar-expand-lg navbar-dark secondary-color lighten-1">
            <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555" aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                <ul class="navbar-nav ml-auto nav-flex-icons">
                    <li class="nav-item avatar dropdown text-white bg-dark">
                        {% if not current_user.is_authenticated %}
                        <a class="ml-2 nav-link text-white" style="text-decoration: none;" href="/login">Войти</a> {% endif %} {% if current_user.is_authenticated %}
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-55" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Профиль
                            </a> {% endif %}
                        <div class="bg-dark dropdown-menu dropdown-menu-lg-right dropdown-secondary border-white" aria-labelledby="navbarDropdownMenuLink-55">
                            <a class="ml-2 nav-link text-white" style="text-decoration: none;" href="/logout">Выйти</a>
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
    </div>


    <div class="py-1 container rounded">
        {% block content %}{% endblock %}

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>