{% extends 'base.html' %} {% block title %} Главная страница {% endblock %} {% block heading %} Главная страница {% endblock %} {% block content %}
<div class="my-4 bg-dark text-white rounded">
    <h5 class="card-header bg-dark text-white text-center py-4 ">
        <strong>Обращения</strong>
    </h5>

    <table class="table table-inverse text-white bg-dark">
        <thead>
            <tr>
                <th scope="row">
                    Дата
                </th>
                <th scope="row">
                    ФИО
                </th>
                <th scope="row">
                    Тип
                </th>
                <th scope="row">
                    Статус
                </th>
                <th scope="row">
                    Текст
                </th>
                {% if current_user.has_role('admin') or current_user.has_role('moder') %}
                <th scope="row">
                    Изменить
                </th>
                {% endif %} {% if current_user.has_role('admin') %}
                <th scope="row">
                    Удалить
                </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for ap in appeal %}
            <tr>
                <th scope="row">
                    {{ap.date}}
                </th>
                <th scope="row">
                    {% for us in users %} {% if us.id == ap.user_id%} {{us.lastname}}&nbsp;{{us.username}}&nbsp;{{us.patronymic}} {% endif %} {% endfor %}
                </th>
                <th scope="row">
                    {% for ty in types %} {% if ty.id == ap.types%} {{ty.types}} {% endif %} {% endfor %}
                </th>
                <th scope="row">
                    {% for st in status %} {% if st.id == ap.status%} {{st.status}} {% endif %} {% endfor %}
                </th>
                <th scope="row">
                    {{ap.text}}
                </th>
                {% if current_user.has_role('admin') or current_user.has_role('moder') %}
                <th scope="row">
                    <a href="{{ url_for('edit_appeal', id=ap.id) }}" class="btn bg-dark text-white"><i class="fas fa-edit"></i></a>
                </th>
                {% endif %} {% if current_user.has_role('admin') %}
                <th scope="row">
                    <a href="{{ url_for('delete_appeal', id=ap.id) }}" class="btn bg-dark text-white"><i class="fas fa-trash-alt"></i></a>
                </th>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('create_appeal') }}" class="btn btn bg-dark text-white btn-block my-4 border-white">Добавить обращение</a>
</div>
{% endblock %}